<nav class="navbar navbar-default">
  <div class="container-fluid">

<!-- Target 1  -->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Part I Targets <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://localhost:3000/flexible/square/5">Flexible Square Example</a></li>
            <li><a href="http://localhost:3000/flexible/square_root/100">Flexible Square Root Example</a></li>
            <li><a href="http://localhost:3000/flexible/payment/410/30/500000">Flexible Payment Example</a></li>
            <li><a href="http://localhost:3000/flexible/random/20/30">Flexible Random Example</a></li>
          </ul>
        </li>

<!-- Target 2  -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Part II Targets <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://localhost:3000/square/new">Square Form</a></li>
            <li><a href="http://localhost:3000/square_root/new">Square Root Form</a></li>
            <li><a href="http://localhost:3000/payment/new">Payment Form</a></li>
            <li><a href="http://localhost:3000/random/new">Random Form</a></li>
          </ul>
        </li>

<!-- Target 3  -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Part III Targets <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://localhost:3000/word_count/new">Word Count Form</a></li>
            <li><a href="http://localhost:3000/descriptive_statistics/new">Stats Form</a></li>
          </ul>
        </li>
      </ul>
    </div>

  </div><!-- /.container-fluid -->
</nav>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Payment Results</h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>APR</dt>
      <dd><%= @percent %>%</dd>

      <dt>Number of years</dt>
      <dd><%= @number_of_years %></dd>

      <dt>Principal</dt>
      <dd><%= number_to_currency(@present_value) %></dd>

      <dt>Monthly Payment</dt>
      <dd><%= number_to_currency(@monthly_pmt) %></dd>
    </dl>
  </div>

  <div class = "panel-body">
    <a href="http://localhost:3000/payment/new"> Calculate another payment </a>
  </div>
</div>
