<nav class="navbar navbar-default">
  <div class="container-fluid">

<!-- Target 1  -->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Part I Targets <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://localhost:3000/flexible/square/5">Flexible Square Example</a></li>
            <li><a href="http://localhost:3000/flexible/square_root/100">Flexible Square Root Example</a></li>
            <li><a href="http://localhost:3000/flexible/payment/410/30/500000">Flexible Payment Example</a></li>
            <li><a href="http://localhost:3000/flexible/random/20/30">Flexible Random Example</a></li>
          </ul>
        </li>

<!-- Target 2  -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Part II Targets <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://localhost:3000/square/new">Square Form</a></li>
            <li><a href="http://localhost:3000/square_root/new">Square Root Form</a></li>
            <li><a href="http://localhost:3000/payment/new">Payment Form</a></li>
            <li><a href="http://localhost:3000/random/new">Random Form</a></li>
          </ul>
        </li>

<!-- Target 3  -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Part III Targets <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://localhost:3000/word_count/new">Word Count Form</a></li>
            <li><a href="http://localhost:3000/descriptive_statistics/new">Stats Form</a></li>
          </ul>
        </li>
      </ul>
    </div>

  </div><!-- /.container-fluid -->
</nav>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Payment Calculation</h3>
    </div>
    <div class="panel-body">
      <form action="/payment/results" class="form-horizontal">

        <div class="form-group">
          <label for="annual_percentage_rate" class="col-sm-2 control-label">APR</label>
          <div class="col-sm-10">
            <input name="apr" type="number" step="any" class="form-control" id="apr" placeholder="Enter the APR of the loan (as a percent)">
          </div>
        </div>

        <div class="form-group">
          <label for="number_of_years" class="col-sm-2 control-label">Years</label>
          <div class="col-sm-10">
            <input name="years" type="number" min="1" class="form-control" id="years" placeholder="Enter the number of years to repay the loan">
          </div>
        </div>

        <div class="form-group">
          <label for="principal_value" class="col-sm-2 control-label">Principal</label>
          <div class="col-sm-10">
            <input name="principal" type="number" min="1" class="form-control" id="principal" placeholder="Enter the principal of the loan">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary btn-block">Calculate monthly payment</button>
          </div>
        </div>

      </form>
    </div>
  </div>
