<h1> Random Results </h1>

<div>
<h4> Minimum </h4>
<p1> <%= @min %> </p1>
</div>


<div>
<h4> Maximum </h4>
<p1> <%= @max %> </p1>
</div>

<div>
<h4> Random Number </h4>
<p1> <%= @random_number %> </p1>
</div>
