<h1>Word Count Calculation</h1>


    <form action="/word_count/results" class="form-horizontal">

      <div>
        <label>Text</label>
            <input type = "text" name = "user_text">
        </div>

<div>
        <label> Special Word</label>
          <input type = "text" name = "user_word">
        </div>

  <button>Process text</button>
